*.csv
*.csv.*z*
*.fgb
*.geojson
*.geojson.*z*
*.geojson.br
*.geojsons
*.geojsons.*z*
*.geojsonseq
*.gpkg
*.gpkg-journal
*.gpkg.zst
*.gpkg.zst.torrent
*.mbtiles
*.osm.pbf
*.pmtiles
*.pmtiles-journal
*.pmtiles2
*.spatialite
/add-incomplete-ways.osc
/docs/data/*
/docs/sqlitesite.cgi
/incomplete_ways.txt
/planet-upstreams.pg_imported
/rivers_html.db
/wwm-river
/tilekiln/
/tmp.*.geojson
/tmp.*.pmtiles.tmp
/upload_to_cloudflare/*
/waterwaymap.org_ends_stats.csv.zst
/waterwaymap.org_loops_stats.csv.zst
/ne_10m_*
