*.geojson
*.geojson.*z*
*.geojson.br
*.geojsons
*.geojsons.*z*
*.gpkg
*.gpkg-journal
*.gpkg.zst
*.gpkg.zst.torrent
*.osm.pbf
*.pmtiles
*.pmtiles-journal
*.pmtiles2
/planet-upstreams.pg_imported
/add-incomplete-ways.osc
/docs/data/*
/incomplete_ways.txt
/tmp.*.geojson
/tmp.*.pmtiles.tmp
/waterwaymap.org_loops_stats.csv.zst
/tilekiln/
