RewriteEngine on

# Redirect www.waterwaymap.org → waterwaymap.org
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [nocase]
RewriteRule ^(.*)$ https://%1/$1 [last,redirect=permanent]


# Hack to get the dynamic /river/sitemap_index.xml into the root URL
RewriteRule ^/?sitemap.xml$ "/sqlitesite.cgi?/river/sitemap_index.xml" [last]

# Support typo /rivers/ → /river/
RewriteRule "^/?rivers/?$" "/river/" [last,redirect=permanent]
RewriteRule "^/?(help|about).html$" "/\1/" [last,redirect=permanent]



# This is the big one which uses the CGI for /river/
RewriteRule "^(/?river.*)$" "/sqlitesite.cgi?$1" [last]
