body {
	
}

main {
	height: 100%;
	width: 100%;
	position: fixed;
	touch-action: none;

	/* -webkit-overflow-scrolling: touch;
    position: fixed;
    overflow: hidden; */
}

#map {
	height: 100%;
	width: 100%;
}

.navbar {
    padding-left: env(safe-area-inset-left) !important;
    padding-right: env(safe-area-inset-right) !important;
}

.navbar .navbar-nav-svg {
	vertical-align: -.125rem;
}

.maplibregl-control-container.mapboxgl-control-container {
	padding-top: 57px;
}

.mapboxgl-ctrl-top-right, .maplibregl-ctrl-top-right {
	right: env(safe-area-inset-left, 0) !important;
	top: unset !important;
}